* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    background-color: gray;
    padding: 2rem;
    height: 100vh;
}
.box {
    background-color: lightgray;
    padding: 2rem;
    height: 100%;
    border: 10px solid black;
}
.head {
    text-align: center;
}
h1 {
    color: red;
}
.divHolder {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.p1, .ai {
    width: 400px;
    padding: 10px;
    height: 20rem;
    border: 5px solid gray;
    border-radius: 100px;
    box-shadow: 3px 3px silver, -1em 0 .4em rgb(253, 173, 173);
    margin: 0;
    background-color: white;
}
.ai {
    overflow: hidden;
}
.buttons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4rem;
    width: 100%;
}
.wrap {
    margin-left: 2%;
    margin-top: 2rem;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    background-color: rgb(253, 74, 74);
    color: white;
    box-shadow: 1px 1px 10px black;
}
.rPS {
    width: 50px;
}
.wrap:hover {
    background-color: pink;
}
.wrap:active {
    box-shadow: 1px 1px 5px black;
}
